.main-page-organizer {
  height: 100%;
  width: 100%;
}

.page-title {
  text-align: center;
  color: rgb(98, 236, 98);
  text-shadow: -1px -1px 0 rgb(68, 158, 45), 1px -1px 0 rgb(68, 158, 45),
    -1px 1px 0 rgb(68, 158, 45), 1px 1px 0 rgb(68, 158, 45), 0px 0px 3px black;
}

.git-link,
.git-link a {
  color: white;
  text-decoration: none;

  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.329));
  /**text-shadow: 2px 2px 6px black;**/
}

.standard-button {
  background-color: #3bd34d;
  border: 1px solid #3bd34d;

  border-radius: 6px;
  color: white;

  font-size: 20px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.76);
}

.link-button {
  text-decoration: none;

  background-color: #3bd34d;
  border: 1px solid #3bd34d;

  border-radius: 6px;
  color: white;

  padding-left: 4px;
  padding-right: 4px;
}

.link-button:hover {
  color: rgb(199, 199, 199);
}

.horizontal-layout-outer {
  display: flex;
  justify-content: center;
}

.horizontal-layout-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.page-divider {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.page-footer {
  width: 100%;
  height: 260px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 40px;
}

.basic-form {
  width: 400px;
}

.basic-form h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.basic-form div .form-label {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 14px;
}

.basic-form button {
  margin: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(242, 242, 242);
  padding: 24px;
  border-radius: 20px;
  border: rgb(207, 207, 207) solid 1px;

  box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px;
}

.form-error-label {
  color: red;
}

.navbar {
  background-color: rgb(242, 242, 242);
  border: rgb(207, 207, 207) solid 1px;

  box-shadow: rgba(0, 0, 0, 0.295) 0px 0px 10px;
}

.navbar-top {
  width: 100vw;
  height: 48px;

  position: fixed;
  top: 0px;

  z-index: 1;
}

.navbar-side {
  height: 100vh;
  width: 244px;

  position: fixed;
  left: 0px;
  top: 0px;

  display: flex;
  justify-content: start;
  flex-direction: column;
}

#navbar-account-block {
  width: 236px;
  height: 100px;

  margin-top: 74px;
  margin-left: 10px;

  display: flex;
  justify-content: space-around;
}

.navbar-text {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-subtext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: grey;
}

.navbar-button-set {
  margin-top: 88px;
  margin-right: 2px;

  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.navbar-button-set button {
  width: 105%;
  height: 48px;

  border-radius: 0px;
  box-shadow: none;

  text-transform: none;
}

.navbar-button-set button[tag="one"] {
  background-color: #3bd34d;
}

.navbar-button-set button[tag="two"] {
  background-color: #67dd74;
}

.navbar-button-set button:hover[tag="one"] {
  background-color: #52df62;
}

.navbar-button-set button:hover[tag="two"] {
  background-color: #7add85;
}

.navbar-button-set button:disabled {
  background-color: rgb(219, 219, 219);
  color: rgb(173, 173, 173);
}

button.MuiTab-root {
  margin-left: 18px;
  margin-right: 18px;
}

button.MuiButtonBase-root.Mui-selected {
  color: #19d249;
}

button.btn.btn-primary {
  background-color: #19d249;
  border-color: #27be4f;
}

.form-paragraph {
  color: rgb(99, 99, 99);
}

.inner-page-block {
  background-color: rgb(242, 242, 242);
  border: rgb(207, 207, 207) solid 1px;

  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 80px;
  margin-top: 40px;
}

img.profile-banner {
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.63) 0px 2px 3px 0px;
}

.profile-header-buttons {
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}
